<div  class="py-4 py-md-5 py-lg-7 " style="background-color: #fef1f9;">
  <div class="container mx-auto px-3" style="background-color: #fef1f9;"  >
    <div class="rounded-lg  p-4 p-md-5"  >
      <div class="mb-3 text-center mb-md-5" id="section-promotion"  >
        <h2 class="h2 text-pink">Trái tim MoMo - Việc tốt không khó</h2>
      </div>
      <div  class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4">
        <div class="col d-flex flex-column">
          <div class="mb-4 d-flex">
            <div class="me-4 flex-shrink-0">
              <div class="rounded-circle d-flex justify-content-center align-items-center bg-cover" style="height: 80px; width: 80px;">
                <img class="img-fluid h-10" alt="Quyên góp nhanh chóng, dễ dàng" src="https://homepage.momocdn.net/fileuploads/svg/momo-file-211217034336.svg" loading="lazy">
              </div>
            </div>
            <div class="flex-grow-1">
              <h3 class="h5 text-pink">Quyên góp nhanh chóng, dễ dàng</h3>
              <p class="text-muted">Chỉ với vài chạm, bạn đã góp phần giúp đỡ 1 hoàn cảnh khó khăn có cuộc sống tốt đẹp hơn.</p>
            </div>
          </div>
          <div class="d-flex mb-4 mb-md-5">
            <div class="me-4 order-lg-1 flex-shrink-0">
              <div class="d-flex justify-content-center align-items-center" style="background-image: url('https://homepage.momocdn.net/fileuploads/svg/momo-file-220602173705.svg'); background-size: cover; background-position: center; width: 80px; height: 80px;">
                <img src="https://homepage.momocdn.net/fileuploads/svg/momo-file-211217034312.svg" alt="1000đ cũng là đáng quý" class="img-fluid" style="height: 40px;" loading="lazy">
              </div>
            </div>
            <div class="order-lg-2 flex-grow-1">
              <h3 class="h5  ">1000đ cũng là đáng quý</h3>
              <p class="text-muted ">Với mức ủng hộ tối thiểu 1.000 đồng, bạn đã cùng hàng triệu nhà hảo tâm khác của “Trái tim MoMo” giúp đỡ những mảnh đời khó khăn.</p>
            </div>
          </div>

          <!-- Các đoạn tương tự khác -->
        </div>
        <div class="d-none d-lg-flex justify-content-center align-items-center">
          <img alt="Phone" src="https://homepage.momocdn.net/img/momo-upload-api-211217034129-637753092896897613.jpg" class="img-fluid">
          <div class="reason-cta position-absolute bottom-4 w-100 text-center" style="margin-top: 40%;">
            <div class="qrtype-22 w-100 d-md-flex align-items-center justify-content-center" data-qr-id="22">
              <button id="buttonQG" class=" btn rounded shadow fw-bold" style="background-color: #eb2f82; color:white;  " data-name="button-action-with-qr">QUYÊN GÓP NGAY</button>
            </div>
          </div>

        </div>

        <div class="d-flex flex-column px-lg-2 ">
          <div class="d-flex mb-4 mb-md-5">
            <div class="me-4 order-lg-2 ms-lg-4 flex-shrink-0">
              <div class="d-flex justify-content-center align-items-center" style="background-image: url('https://homepage.momocdn.net/fileuploads/svg/momo-file-220602173705.svg'); background-size: cover; background-position: center; width: 80px; height: 80px;">
                <img src="https://homepage.momocdn.net/fileuploads/svg/momo-file-211217034305.svg" alt="Minh bạch, công khai mọi khoản đóng góp" class="img-fluid" style="height: 40px;" loading="lazy">
              </div>
            </div>
            <div class="order-lg-1 text-lg-end flex-grow-1">
              <h3 class="mb-2 h5">Minh bạch, công khai mọi khoản đóng góp</h3>
              <p class="text-muted ">Mọi thông tin về hoạt động đóng góp, tài trợ đều được công khai và cập nhật liên tục.</p>
            </div>
          </div>

          <div class="d-flex mb-4 mb-md-5">
            <div class="me-4 order-lg-2 ms-lg-4 flex-shrink-0">
              <div class="d-flex justify-content-center align-items-center" style="background-image: url('https://homepage.momocdn.net/fileuploads/svg/momo-file-220602173705.svg'); background-size: cover; background-position: center; width: 80px; height: 80px;">
                <img src="https://homepage.momocdn.net/fileuploads/svg/momo-file-211217034206.svg" alt="Đối tác của các cơ quan, tổ chức hảo tâm uy tín" class="img-fluid" style="height: 40px;" loading="lazy">
              </div>
            </div>
            <div class="order-lg-1 text-lg-end flex-grow-1">
              <h3 class="mb-2 h5">Đối tác của các cơ quan, tổ chức hảo tâm uy tín</h3>
              <p class="text-muted ">“Trái tim MoMo” đã và đang kết nối được với rất nhiều đơn vị bảo trợ, báo chí, đơn vị hảo tâm uy tín trên cả nước.</p>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
