<div th:fragment="sliderFragment">
  <section class="position-relative d-flex align-items-center justify-content-center bg-cover bg-center py-5" style="background-image: url('https://homepage.momocdn.net/img/momo-upload-api-220617165559-637910817596648573.jpg'); min-height: 250px;">
    <div class="position-absolute top-0 start-0 w-100 h-100 bg-black opacity-50"></div>
    <div class="container px-4 px-md-5">
      <div class="position-relative text-center">
        <h1 class="display-4 text-white fw-bold mb-3 fs-1">Người Già</h1>
        <h3 class="text-white-50 mt-3 fs-6">Giúp đỡ người già neo đơn, người vô gia cư, không nơi nương tựa</h3>
      </div>
    </div>
  </section>

</div>
