<footer class="bg-dark ">
  <div class="container py-7 text-white text-sm pt-5">
    <div class="row">
      <div class="col-md-4 mb-4">
        <h6 class="text-uppercase text-white-50">Hoàn cảnh</h6>
        <ul class="list-unstyled">
          <li><a href="/vi-nhan-ai/tu-thien/giup-do-tre-em" class="text-white-50 text-decoration-none hover:text-white">Vì trẻ em</a></li>
          <li><a href="/vi-nhan-ai/tu-thien/giup-do-nguoi-gia-nguoi-khuyet-tat" class="text-white-50 text-decoration-none hover:text-white">Người già neo đơn</a></li>
          <li><a href="/vi-nhan-ai/tu-thien/giup-do-nguoi-gia-nguoi-khuyet-tat" class="text-white-50 text-decoration-none hover:text-white">Người khuyết tật</a></li>
          <li><a href="/vi-nhan-ai/tu-thien/giup-do-nguoi-mac-benh-hiem-ngheo" class="text-white-50 text-decoration-none hover:text-white">Bệnh hiểm nghèo</a></li>
          <li><a href="/vi-nhan-ai/tu-thien/cuu-tro-dong-vat-cho-meo" class="text-white-50 text-decoration-none hover:text-white">Cứu trợ động vật</a></li>
          <li><a href="/vi-nhan-ai/tu-thien/bao-ve-moi-truong" class="text-white-50 text-decoration-none hover:text-white">Bảo vệ môi trường</a></li>
        </ul>
      </div>

      <div class="col-md-4 mb-4">
        <h6 class="text-uppercase text-white-50">Dịch vụ nổi bật</h6>
        <ul class="list-unstyled">
          <li><a href="/cinema" class="d-flex align-items-center text-white-50 text-decoration-none hover:text-white">
            <img src="https://homepage.momocdn.net/img/momo-amazone-s3-api-240810203439-638589188796724974.svg" alt="Vé xem phim" class="me-2" style="height: 20px; width: 20px;">Vé xem phim</a></li>
          <li><a href="/bao-hiem-o-to/vat-chat" class="d-flex align-items-center text-white-50 text-decoration-none hover:text-white">
            <img src="https://homepage.momocdn.net/img/momo-amazone-s3-api-240810203448-638589188881279737.svg" alt="Bảo hiểm Ô tô" class="me-2" style="height: 20px; width: 20px;">Bảo hiểm Ô tô</a></li>
          <li><a href="/ve-may-bay" class="d-flex align-items-center text-white-50 text-decoration-none hover:text-white">
            <img src="https://homepage.momocdn.net/img/momo-amazone-s3-api-240810203455-638589188958580473.svg" alt="Vé máy bay" class="me-2" style="height: 20px; width: 20px;">Vé máy bay</a></li>
          <li><a href="/vi-nhan-ai" class="d-flex align-items-center text-white-50 text-decoration-none hover:text-white">
            <img src="https://homepage.momocdn.net/img/momo-amazone-s3-api-240810203503-638589189034875619.png" alt="Ví nhân ái" class="me-2" style="height: 20px; width: 20px;">Ví nhân ái</a></li>
        </ul>
      </div>

      <div class="col-md-4 mb-4">
        <h6 class="text-uppercase text-white-50">Chăm sóc khách hàng</h6>
        <p class="text-white-50">Địa chỉ: Lầu 6, Toà nhà Phú Mỹ Hưng, Quận 7, TP.HCM</p>
        <p class="text-white-50">Hotline: <a href="tel:1900545441" class="text-white-50 text-decoration-none hover:text-white">1900 5454 41</a> <small>(Phí 1.000đ/phút)</small></p>
        <p class="text-white-50">Email: <a href="mailto:hotro@momo.vn" class="text-white-50 text-decoration-none hover:text-white">hotro@momo.vn</a></p>
      </div>
    </div>
  </div>
</footer>
