
<div class="header-navigation position-relative w-100 z-3 " style="height: 64px">

  <div class="position-absolute h-100 w-100">

    <nav class="container d-flex flex-column align-items-center  h-100">

      <div class="position-relative d-flex align-items-center mt-2 ">

        <a href="/" title="MoMo" class="me-3 d-inline-block overflow-hidden rounded-0"
           onmouseover="this.style.opacity=0.8" onmouseout="this.style.opacity=1">
          <img class=" " style="width: 36px; height: 36px;"
               src="https://homepage.momocdn.net/fileuploads/svg/momo-file-240411162904.svg" alt="">
        </a>
        <a href="/"  id="icon_main" class="d-flex text-decoration-none">

          <img src="https://homepage.momocdn.net/img/momo-amazone-s3-api-240812100706-638590540261664916.png"
               class="mb-1" style="width: 36px ; height: 36px;" alt="MoMo">
          <b class="" style="color: #eb2f82; font-family: 'Noto+Sans', sans-serif; margin-top: 0.30rem;"> Ví nhân ái</b>

        </a>
        <div class="relative mt-2 d-flex align-items-center ">
          <nav aria-label="Main" data-orientation="horizontal"
               class="position-relative d-flex w-auto  align-items-center justify-content-center"
               style="z-index: 10;">

            <div class="position-relative">
              <ul class="list-styled list-inline d-flex justify-content-center align-items-center">
                <!-- Dropdown 1 -->
                <li class="list-inline-item">
                  <div id="dropdown" class="dropdown bg-white text-dark">
                    <button class="btn dropdown-toggle" type="button"   data-bs-toggle="dropdown">
                      <b> Hoàn cảnh quyên góp</b>
                    </button>
                    <ul class="dropdown-menu animated-dropdown">
                      <li><a class="dropdown-item" href="ViTreEmFragment"><b>Vì Trẻ Em</b></a></li>
                      <li><a class="dropdown-item" href="NguoiGiaFragment"><b>Người Già, Người Khuyết Tật</b></a></li>
                      <li><a class="dropdown-item" href="#"><b>Bệnh Hiểm Nghèo</b></a></li>
                      <li><a class="dropdown-item" href="#"><b>Hoàn Cảnh Khó Khăn</b></a></li>
                      <li><a class="dropdown-item" href="#"><b>Hỗ Trợ Giáo Dục</b></a></li>
                      <li><a class="dropdown-item" href="#"><b>Đầu Tư Cơ Sở Vật Chất</b></a></li>
                      <li><a class="dropdown-item" href="#"><b>Cứu Trợ Động Vật</b></a></li>
                      <li><a class="dropdown-item" href="#"><b>Bảo Vệ Môi Trường</b></a></li>
                    </ul>
                  </div>
                </li>
                <!-- Empty list items for future content -->
                <li class="list-inline-item">
                  <div id="dropdown1" class="dropdown bg-white text-dark">
                    <button class="btn dropdown-toggle" type="button"  data-bs-toggle="dropdown">
                      <b> Chiến Dịch Gây Quỹ</b>
                    </button>
                    <ul class="dropdown-menu animated-dropdown">
                      <li><a class="dropdown-item" href="#"><b>Trái Tim Hồng</b></a></li>
                      <li><a class="dropdown-item" href="#"><b>Xây Tết Hồng</b></a></li>
                      <li><a class="dropdown-item" href="#"><b>Góp Lá Vá Rừng</b></a></li>
                    </ul>
                  </div>
                </li>
                <li class="list-inline-item"><a class="dropdown-item" href="#"><b>Đối Tác Đồng Hành</b></a></li>
              </ul>
            </div>


          </nav>

        </div>

      </div>

    </nav>

  </div>
</div>
