<div th:fragment="detailPageFragment">
<section   id="block-1075" data-index="1" data-type="2" class="">
  <div class="py-8 bg-white pt-5 pb-5">
    <div class="container mx-auto px-5">
      <div class="row align-items-center">
        <!-- Text Section -->
        <div class="col-md-6 order-2 order-md-1 text-left">
          <h1 class="mb-2 font-bold h1" style="color:#eb2f82; font-weight: bold; ">Ví Nhân Ái - Thiện nguyện mỗi ngày</h1>
          <p class="lead text-muted">Ví Nhân Ái là tính năng tập hợp tất cả các dự án, tổ chức đang gây quỹ từ thiện trên MoMo. Nơi bạn có thể thực hiện “sống tốt” bằng cách quyên góp Heo Vàng hoặc tiền mặt.</p>
          <span class="d-block pt-4">Nhìn lại chặng đường Ví Nhân Ái đã đi qua</span>

          <!-- Stats Section -->
          <div class="row mt-3">
            <div class="col-6 col-lg-3">
              <h4 class="font-bold text-dark">1+ ngàn</h4>
              <p class="small text-muted">dự án đã được gây quỹ thành công</p>
            </div>
            <div class="col-6 col-lg-3">
              <h4 class="font-bold text-dark">86+ tỷ</h4>
              <p class="small text-muted">đồng được quyên góp</p>
            </div>
            <div class="col-6 col-lg-3">
              <h4 class="font-bold text-dark">1+ tỷ</h4>
              <p class="small text-muted">heo vàng được quyên góp</p>
            </div>
            <div class="col-6 col-lg-3">
              <h4 class="font-bold text-dark">186+ triệu</h4>
              <p class="small text-muted">lượt quyên góp</p>
            </div>
          </div>

          <!-- Buttons Section -->
          <div class="mt-4">
            <a href="#" id="buttonQG"  class="btn btn-primary fw-bold" style=" background-color: #eb2f82;">Quyên góp</a>
            <a href="#" class="btn border fw-bold " style="color: #eb2f82; border-color: #eb2f82 !important;">Giới thiệu</a>
          </div>
        </div>

        <!-- Image Section -->
        <div class="col-md-6 order-1 order-md-2 text-center">
          <img src="https://homepage.momocdn.net/img/momo-upload-api-220610222354-637904966341393543.png" class="img-fluid" alt="Ví Nhân Ái - Thiện nguyện mỗi ngày">
        </div>
      </div>
    </div>
  </div>
</section>
</div>