<div th:fragment="doiTacPageFragment">
<div  class="py-3 py-md-5 py-lg-7 bg-white" style="--grad-rgb-color: 255 255 255;">
  <div class="mx-auto w-100 container px-3 px-md-4 px-lg-4 landing-fadeUp-child">
    <div class="mb-5 mb-md-8 text-center" id="section-brand"><h2
            class="fs-4 fw-bold fs-lg-3 text-danger landing:text-lpTitl">Các đối tác đồng hành</h2>
      <div class="mx-auto mt-2 container fs-5 text-secondary landing:text-lpText/90 fs-lg-4">
        Các tổ chức nhân đạo
        Phi Lợi Nhuận đồng hành cùng Ví MoMo giúp đỡ các hoàn cảnh khó khăn trên khắp cả nước.</h3></div>
      <div class="position-relative">
        <div class="swiper swiper-initialized swiper-horizontal swiper-pointer-events">
          <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
            <div class="swiper-slide row g-3 swiper-slide-active" style="width: 317.333px; margin-right: 20px;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>