
<div th:fragment="sliderFragment" >
<div   id="myCarousel" class="carousel slide w-100 " style="margin-top: 2px" data-bs-ride="carousel">
  <!-- Indicators (nút điều hướng) -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>

  <!-- Slide Content -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://homepage.momocdn.net/img/momo-upload-api-220610222058-637904964587890784.jpg" class="d-block w-100" alt="Slide 1">

    </div>
    <div class="carousel-item">
      <img src="https://homepage.momocdn.net/img/momo-upload-api-240610102026-638536116267440265.jpg" class="d-block w-100" alt="Slide 2">
    </div>
    <div class="carousel-item">
      <img src="https://homepage.momocdn.net/img/momo-upload-api-240610102026-638536116267440265.jpg" class="d-block w-100" alt="Slide 3">
    </div>
  </div>

  <!-- Navigation Arrows -->
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>